* {
  font-family: monospace;
  margin: 0%;
  padding: 0;
}

h2 {
  color: red;
  margin: 2vh 0vh 2vh 0vh;
}

body {
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

input {
  background-color: #303030;
  margin: 1vh 0vh 4vh 0vh;
  width: 20vw;
  color: white;
  height: 3vh;
}

form {
  text-align: center;
  padding: 5vh 19vh 5vh 19vh;
  border-radius: 30px;
  margin-top: 10vh;
  border: 1px solid white;
  width: fit-content;
}

button {
  width: fit-content;
  background-color: beige;
  padding: 7px 15px 7px 15px;
  color: black;
  border-radius: 20px;
  border: none;
  font-weight: 900;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

h4 {
  color: red;
  margin-bottom: 2vh;
}